In [21]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
# import CatBoost

In [8]:
df = pd.read_csv("../data/train.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [29]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [47]:
X = df.drop("Loan_Status", axis=1)
X = df[["ApplicantIncome", "CoapplicantIncome"]]
y = df["Loan_Status"]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [23]:
clf = RandomForestClassifier()

In [34]:
clf.fit(X_train, y_train)
score = clf.score(X_test, y_test)
score

0.5714285714285714

In [64]:
df_pred = pd.read_csv("../data/test.csv")
X_pred = df_pred[["ApplicantIncome", "CoapplicantIncome"]]
y_pred = clf.predict(X_pred)
df_pred["Loan_Status"] = y_pred
df_submission = df_pred[["Loan_ID", "Loan_Status"]]
df_submission.to_csv("../data/pred.csv", index=False)