In [1]:
import numpy as np
import pandas as pd

import pandas_profiling

from sklearn.model_selection import train_test_split

from catboost import Pool, CatBoostRegressor

In [2]:
df = pd.read_csv("../data/train.csv")
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [3]:
# df.profile_report(style={'full_width':True})

In [4]:
df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [5]:
df.iloc[:,np.where(df.dtypes == "object")[0]] = df.iloc[:,np.where(df.dtypes == "object")[0]].astype(str)

In [ ]:
df = df.fillna(df.mean())

In [ ]:
index = "User_ID"
index1 = "Product_ID"
label = "Item_Outlet_Sales"
X = df.drop(label, axis=1)
# X = df[features]
y = df[label]
X.dtypes

In [ ]:
categorical_features_indices = np.where(X.dtypes == "object")[0]
categorical_features_indices

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
# clf = RandomForestClassifier()
clf = CatBoostRegressor()

In [ ]:
clf.fit(X_train, y_train,cat_features=categorical_features_indices)

In [ ]:
score = clf.score(X_test, y_test)
score

In [ ]:
clf.fit(X, y, cat_features=categorical_features_indices)

In [ ]:
df_pred = pd.read_csv("../data/test.csv")
df_pred = df_pred.fillna(df_pred.mean())
df_pred = df_pred.fillna(df_pred.mode().iloc[0])

X_pred = df_pred.drop([index], axis=1)
y_pred = clf.predict(X_pred)
df_pred[label] = (y_pred + 0.5).astype(int)
df_submission = df_pred[[index, index1, label]]
df_submission.to_csv("../data/pred.csv", index=False)

In [ ]:
df_submission.shape

In [ ]:
df_sample = pd.read_csv("../data/sample.csv")
df_sample.shape

In [ ]:
np.around(y_pred + 0.5, decimals=-1)

In [ ]:
y_pred

In [ ]:
(y_pred + 0.5).astype(int)